* {
	box-sizing: border-box;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

html, body {
	height: 100%;
	min-width: 375px;
}

.cursor-pointer {
	cursor: pointer;
}

.container-fluid-modified {
	padding: 0;
	margin: 0;

	.row {
		width: 100%;
		margin: 0;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar {
		border-radius: 0;
		background: #3d3d3d;

		.navbar-toggler {
			border-color: transparent;

			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}
	}
	.navbar .navbar-header {
		float: none;
	}
	.navbar .navbar-toggle {
		display: block;
	}
}

.mainToggleMenuShadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	display: none;
	z-index: 2000;
}

.mainToggleMenu {
	position: fixed;
	top: 0;
	width: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
	z-index: 10000;
	background: #3d3d3d;

	.container-fluid {
		height: 100vh;

		.logo {
			width: 180px;
		}

		.nav-link {
			background: gray;
			color: white;
		}
	}
}

.vertical-align {
	display: flex;
	align-items: center;
}

#js-itemsSpace {
	line-height: 0;
	column-count: 3;
	column-gap: 3px;

	img {
		width: 100% !important;
		height: auto !important;
		margin-top: 3px;
		display: inherit;
	}
}

.contextMenu {
	height: 40px;
	background: #3d3d3d;
}

#js-topPanelMainTemplateSpace {
	.hamburger {
		.fa.fa-navicon {
			font-size: 1.5em;
			color: black;
		}
		background: #f2f2f2;
	}
	#hash-tag-input-1 {
		border: 0;
		border-radius: 0;
	}
}

.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}
.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


