<div id="js-contextMenu" class="container-fluid contextMenu d-flex align-items-center">
	<div class="col-2">
		<a class="btn-sm btn btn-light" data-module="content" data-action="contentItems" href="#"><i class="fa fa-chevron-left"></i></a>
	</div>
</div>

<div class="container mt-2">
	<div class="row">
		<div class="col-12">
			<form id="js-addItemForm">
				<div class="form-group">
					<label for="js-title">Co recenzujete? </label>
					<input required type="text" class="form-control" id="js-title">
				</div>
				<div class="form-group">
					<label for="js-hashtags"># hashtagy</label>
					<input required type="text" class="form-control" id="js-hashtags" placeholder="#kino #restaurace">
				</div>
				<div class="form-group">
					<label for="js-text">Text recenze</label>
					<textarea id="js-text" class="form-control"></textarea>
				</div>
				<div class="form-group mt-2">
					<input accept="image/*" type="file" name="files[]"  capture="environment" id="js-upload-images" class="d-none" multiple>
				</div>
				<label for="js-upload-images" class="upload-drop-zone d-block noselect" id="js-drop-zone">
					Přetáhněte obrázky zde nebo klikněte
				</label>
				<div class="form-group text-center">
					<a href="#" class="text-dark ml-1 js-rating-star"><i class="fa fa-star-o fa-2x"></i></a>
					<a href="#" class="text-dark ml-1 js-rating-star"><i class="fa fa-star-o fa-2x"></i></a>
					<a href="#" class="text-dark ml-1 js-rating-star"><i class="fa fa-star-o fa-2x"></i></a>
					<a href="#" class="text-dark ml-1 js-rating-star"><i class="fa fa-star-o fa-2x"></i></a>
					<a href="#" class="text-dark ml-1 js-rating-star"><i class="fa fa-star-o fa-2x"></i></a>
				</div>
				<button type="submit" class="btn btn-primary">Uložit recenzi</button>
			</form>
		</div>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-emptyStar" class="alert alert-danger alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-no-images" class="alert alert-danger alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>
