<div class="container-fluid pl-0 pr-0">
	<div class="row m-1">
		<div class="col-12 text-center p-0" id="js-itemsSpace">
		</div>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-reviewAdded" class="alert alert-success alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>