<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<form id="js-login-form" class="col-10">
			<div class="form-group">
				<input type="email" class="form-control" id="js-email-input" localized required>
				<input type="password" class="form-control" id="js-password-input" localized required>
			</div>
			<div class="form-check">
				<input checked type="checkbox" class="form-check-input" id="js-remember-login">
				<label class="form-check-label" id="js-label-remember-login" for="js-remember-login" localized></label>
			</div>
			<div class="form-group">
				<button class="btn btn-success w-100" id="js-login-button" type="submit" localized></button>
			</div>
			<div class="row">
				<a class="nav-link" href="#" data-action="contentRegister" data-module="content">Zaregistrovat</a>
			</div>
		</form>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-wrongUsernameOrPassword" class="alert alert-danger alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>