<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<form id="js-register-form" class="col-10">
			<div class="form-group">
				<input type="email" class="form-control" id="js-email-input" localized required>
				<input type="password" class="form-control" id="js-password-input" localized required>
				<input type="text" maxlength="200" class="form-control" id="js-username-input" localized required>
			</div>
			<div class="form-group">
				<button class="btn btn-success w-100" id="js-register-button" type="submit" localized></button>
			</div>
		</form>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-usernameExistsError" class="alert alert-danger alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-emailExistsError" class="alert alert-danger alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>

<div class="container fixed-bottom">
	<div id="js-registeredSuccessAlert" class="alert alert-success alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="text" localized></span>
	</div>
</div>
