<button type="button" class="navbar-toggler pr-0 pl-0" id="js-toggleSideMenu">
	<span class="fa fa-navicon text-secondary"></span>
</button>
<div id="js-mainToggleMenuShadow" class="mainToggleMenuShadow"></div>
<div id="js-mainToggleMenu" class="mainToggleMenu">
	<div id="js-sideMenuHrefs">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-12">
					<img class="logo" src="assets/images/logo-white.png">
				</div>
			</div>
			<div class="row h-100">
				<div class="col-12">
					<nav class="nav flex-column">
						<a class="nav-link js-clickToCloseSideMenu mt-2" href="#" data-module="content" data-action="contentItems"><i class="fa fa-home"></i> <span id="js-sideMenuHomeHref" translated></span></a>
						<a class="nav-link js-clickToCloseSideMenu mt-2" href="#" data-module="content" data-action="contentLogin"><i class="fa fa-user"></i> <span id="js-sideMenuLoginOrProfileHref" translated></span></a>
						<a class="nav-link js-clickToCloseSideMenu mt-2" href="#" data-module="content" data-action="contentSettings"><i class="fa fa-cogs"></i> <span id="js-sideMenuSettingsHref" translated></span></a>
						<a class="nav-link js-clickToCloseSideMenu mt-2" href="#" data-module="content" data-action="contentItems"><i class="fa fa-copyright"></i> <span id="js-sideMenuAboutHref" translated></span></a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>